.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: black;
  background-color: red;
}

.success {
  color: white;
  background-color: green;
}

.blog{
  border: 2px solid black;
  margin-left: 1em;
  padding: 0.2em;
}

.blog:nth-child(odd){
  background-color: darkcyan;
  color: black;
}

.blog:nth-child(even){
  background-color: navy;
  color: white;
}

.post{
  margin-left: 1em;
  padding: 0.2em;
}

.post:nth-child(even){
  background-color: darkgrey;
}

.post:nth-child(even){
  background-color: grey;
}